<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>palette</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/view/index.jsp</welcome-file>
	</welcome-file-list>



	<!-- JDBC DBCP(Database Connection Pool) : 클라이언트가 여러명 들어왔을때 순서대로 처리 -->

	<!-- Error code 따라 Page 연결 (404에러, 405에러, 500에러, NullPointerException 등) 
		=> 프로젝트 마지막에 지정해주기 -->

</web-app>